@use "../../../assets/scss/" as *;

.instagram {
  &__logo {
    text-align: center;
    margin: 56px 0;
    position: relative;

    & > img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 0 12px;
    }

    &-text {
      font-size: 22px;
      font-weight: 600;
      color: #000;
      text-transform: capitalize;
      border: 2px solid currentColor;
      width: 310px;
      height: 76px;
    }
  }

  &__img {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    @include tabletMd {
      grid-gap: 16px;
      padding: 16px;
      grid-template-columns: repeat(3, minmax(30%, 1fr));
      grid-auto-flow: column;
      grid-auto-columns: minmax(30%, 1fr);
      overflow-x: auto;
      scroll-snap-type: x mandatory;
    }

    @include mobile {
      grid-gap: 16px;
      padding: 16px;
      grid-template-columns: repeat(auto-fill, minmax(86%, 1fr));
      grid-auto-flow: column;
      grid-auto-columns: minmax(86%, 1fr);
      overflow-x: auto;
      scroll-snap-type: x mandatory;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &-item {
      position: relative;
      overflow: hidden;
      transition: all 0.35s ease-in;

      @include tabletMd {
        scroll-snap-align: center;
      }

      @include mobile {
        scroll-snap-align: center;
      }

      &-photo {
        transition: all 0.3s ease-in;
      }

      &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        opacity: 0;
        visibility: hidden;
        @include dFlex(center, center);
        flex-direction: column;
        cursor: pointer;
        transition: all 0.3s ease-out;

        & > ion-icon {
          color: $text-white;
          font-size: 32px;
        }

        & > p {
          font-size: 14px;
          font-weight: bold;
          color: $text-white;
          text-transform: uppercase;
          padding-top: 20px;
        }
      }

      &:hover &-photo {
        transform: scale(1.05);
      }

      &:hover &-overlay {
        opacity: 0.6;
        visibility: visible;
      }
    }
  }
}
